@CHARSET "UTF-8";

 html, body {
     height: 100%;
 }
 footer {
     color: #666;
     background: #FFF;
     padding: 17px 0 18px 0;
     margin-top: 150px;
     padding-top: 1px solid #ddd;
 }

 header {
     color: #666;
     background: #FFF;
    height: 60px;
     border-bottom: 1px solid #ddd;
   
 }
 
.top-head-nav {
	color: rgb(11, 6, 247);
}

#log_menu>.active>a{
border-bottom: 2px solid #fff;
padding-bottom: 5px;

	
}
 
 .mid-menu{
 		background-color: #699;
 		border-color: #699;
 		border-radius: 0px;
 }
 
 .text-menu{
	color: #fff !important; 
	background-color: #699  !important; 
 }
 
 .wrapper {
     min-height: 100%;
     height: auto !important;
     height: 100%;
     margin: 0 auto -63px;
 }
 
 /* not required for sticky footer; just pushes hero down a bit */
 /*.wrapper > .container {
     padding-top: 60px;
 }*/
         
/*表格文字过长自动换行*/         
table.wratb {
    table-layout: fixed;
    word-wrap: break-word;
}   

table.removebd>tbody>tr>td{
 	border: 0px;
}     


.cn {
  display: table-cell;
  width: 500px;
  height: 500px;
  vertical-align: middle;
  text-align: center;
}

div.inner {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: left;
}

ul li.font-13-gray{
	font-size: 13px;
	color: gray;
}

p.head-text{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 9px;
	border-bottom: solid 1px #ddd;
}

ul.home-stl{
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 15px; 
	height: 200px;
}

div.log_info_border{
	padding-left: 30px; 
	border: solid 1px #ddd; 
	margin-left: 20px; 
	padding-top: 8px;	
}


.pointer_a{
	cursor: pointer;
}

.popover-content {
    word-wrap: break-word;
}
